QWidget#CardNotion, QWidget#CardCategory, QWidget#CardTag, QWidget#CardStat, QWidget#EmptyStateWidget {
    background-color: {{ colors.background.item }};
    border: 1px solid {{ colors.border.default }};
    border-radius: {{ radius.XL }}px;
    padding: {{ spacing.MD }}px;
}

QWidget#CardNotion:hover, QWidget#CardCategory:hover, QWidget#CardTag:hover {
    background-color: {{ colors.background.item_hover }};
}

QWidget#CardCategory[selected="true"] {
    background-color: {{ colors.background.item_selected }};
    border: 1px solid {{ colors.border.strong }};
}