QLineEdit#FormLineEdit,
QComboBox#FormComboBox,
QTextEdit#FormTextEdit {
    background-color: {{ colors.background.input }};
    border: 1px solid {{ colors.border.default }};
    border-radius: {{ radius.LG }}px;
    padding: {{ spacing.SM }}px {{ spacing.INPUT_MD }}px;
    font-size: {{ typography.BODY_MD }}px;
    color: {{ colors.text.primary }};
}

QLineEdit#FormLineEdit:focus,
QComboBox#FormComboBox:focus,
QTextEdit#FormTextEdit:focus {
    border: 1px solid {{ colors.border.focused }};
    background-color: {{ colors.background.item }};
}

QScrollArea#FormScrollArea {
    border: 1px solid {{ colors.border.default }};
    border-radius: {{ radius.LG }}px;
    background-color: {{ colors.background.input }};
}

QWidget#TagsContainer {
    background: transparent;
}

QCheckBox#FormCheckBox {
    background: transparent;
    font-size: {{ typography.BODY_SM }}px;
    color: {{ colors.text.primary }};
}

QCheckBox#FormCheckBox::indicator {
    width: 16px;
    height: 16px;
    border-radius: {{ radius.SM }}px;
    border: 1px solid {{ colors.border.default }};
    background: {{ colors.background.item }};
}

QCheckBox#FormCheckBox::indicator:checked {
    background-color: {{ colors.buttons.primary.background }};
    border: 1px solid {{ colors.buttons.primary.background }};
}

QRadioButton#RadioButton {
    background: transparent;
    font-size: {{ typography.BODY_SM }}px;
    color: {{ colors.text.primary }};
    spacing: {{ spacing.SM }}px;
}

QRadioButton#RadioButton::indicator {
    width: 16px;
    height: 16px;
    border-radius: {{ radius.LG }}px;

    border: 1px solid {{ colors.border.default }};
    background: {{ colors.background.item }};
}

QRadioButton#RadioButton::indicator:hover {
    border: 1px solid {{ colors.border.focused }};
    background: {{ colors.background.input }};
}

QRadioButton#RadioButton::indicator:checked {
    border: 1px solid {{ colors.buttons.primary.background }};
    background: {{ colors.buttons.primary.background }};
}