QWidget#Sidebar {
    background-color: {{ colors.background.sidebar }};
    border-right: 1px solid {{ colors.border.default }};
}

QLabel#SidebarTitle {
    font-size: {{ typography.H2 }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.primary }};
    padding-bottom: {{ spacing.SM }}px;
}

QToolButton#SidebarItem {
    background-color: transparent;
    color: {{ colors.text.secondary }};
    border: none;
    border-radius: {{ radius.LG }}px;
    text-align: left;
    padding: {{ spacing.MENU_SM }}px {{ spacing.MENU_MD }}px;
    font-size: {{ typography.BODY_MD }}px;
}

QToolButton#SidebarItem:hover {
    background-color: {{ colors.background.sidebar_hover }};
    color: {{ colors.text.primary }};
}

QToolButton#SidebarItem:checked {
    background-color: {{ colors.background.sidebar_checked }};
    color: {{ colors.text.secondary_active }};
}