QLabel#TitleMain {
    font-size: {{ typography.H1 }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.primary }};
    padding-bottom: {{ spacing.SM }}px;
}

QLabel#DocumentTitle {
    background: transparent;
    border: none;
    font-size: {{ typography.H4 }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.primary }};
}

QLabel#StatusToLearn {
    background-color: {{ colors.background.to_learn }};
    font-size: {{ typography.BODY_SM }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.to_learn }};
    padding: {{ spacing.PILLS_SM }}px {{ spacing.PILLS_MD }}px;
    border-radius: {{ radius.PILLS }}px;
}

QLabel#StatusAcquired {
    background-color: {{ colors.background.acquired }};
    font-size: {{ typography.BODY_SM }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.acquired }};
    padding: {{ spacing.PILLS_SM }}px {{ spacing.PILLS_MD }}px;
    border-radius: {{ radius.PILLS }}px;
}

QLabel#PrimaryPill {
    background-color: {{ colors.background.pill }};
    font-size: {{ typography.BODY_SM }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.secondary_active }};
    padding: {{ spacing.PILLS_SM }}px {{ spacing.PILLS_MD }}px;
    border-radius: {{ radius.PILLS }}px;
}

QLabel#MetaInfo {
    background: transparent;
    border: none;
    color: {{ colors.text.secondary }};
    font-size: {{ typography.BODY_SM }}px;
}

QLabel#TagLabel {
    background-color: {{ colors.background.pill }};
    color: {{ colors.text.secondary }};
    font-size: {{ typography.BODY_SM }}px;
    padding: {{ spacing.PILLS_SM }}px {{ spacing.PILLS_MD }}px;
    border-radius: {{ radius.PILLS }}px;
}

QLabel#StatValue, QLabel#EmptyStateSubtitle {
    background: transparent;
    font-size: {{ typography.H1 }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.primary }};
    padding-bottom: {{ spacing.SM }}px;
}

QLabel#StatName, QLabel#EmptyStateTitle {
    background: transparent;
    border: none;
    font-size: {{ typography.BODY_MD }}px;
    font-weight: {{ typography.SEMIBOLD }};
    color: {{ colors.text.secondary }};
}

QLabel#FormError {
    background: transparent;
    font-size: {{ typography.BODY_XS }}px;
    padding-left: {{ spacing.XS }}px;
    color: {{ colors.text.danger }};
}